@model QfgCharacterLibrary.QfgCharacter

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "QFG Character Editor";
    ViewBag.SelectedTab = "Inventory";
}

<script type="text/javascript">
    var maxDaggers = @ViewBag.MaxDaggers;
    var maxHealingPotions = @ViewBag.MaxHealingPotions;
    var maxMagicPotions = @ViewBag.MaxMagicPotions;
    var maxVigorPotions = @ViewBag.MaxVigorPotions;

    $(document).ready(function () {
        $("#mainForm").validate({
            rules: {
                InventoryDaggers: {
                    required: true,
                    range: [0, maxDaggers]
                },
                InventoryHealingPotions: {
                    required: true,
                    range: [0, maxHealingPotions]
                },
                InventoryMagicPotions: {
                    required: true,
                    range: [0, maxMagicPotions]
                },
                InventoryVigorPotions: {
                    required: true,
                    range: [0, maxVigorPotions]
                }
            },
            errorPlacement: function (error, element) {
                var errorText = error.text();

                if (errorText == "") {
                    if (element.next("span") != null) {
                        element.next("span").remove();
                    }
                }
                else {
                    if (element.next("span").html() != "*") {
                        element.parent().append("<span style='color:red;font-weight:bold'>*</span>").attr('title', errorText);
                    }
                }
            },
            success: function (label) {
                if (label.next("span") != null) {
                    label.next("span").remove();
                }
            }
        });
    });
</script>

<form id="mainForm" method="post" action="">
    <table cellpadding="0" cellspacing="0" border="0" class="tableData">
        <tr>
            <td class="tblHeading">Daggers:</td>
            <td>
                @Html.TextBoxFor(x => x.InventoryDaggers, new { @maxlength = 3, @class = "inputStat" })
            </td>
        </tr>
        <tr>
            <td class="tblHeading">Healing Potions:</td>
            <td>
                @Html.TextBoxFor(x => x.InventoryHealingPotions, new { @maxlength = 3, @class = "inputStat" })
            </td>
        </tr>
        <tr>
            <td class="tblHeading">Vigor Potions:</td>
            <td>
                @Html.TextBoxFor(x => x.InventoryVigorPotions, new { @maxlength = 3, @class = "inputStat" })
            </td>
        </tr>
        <tr>
            <td class="tblHeading">Magic Potions:</td>
            <td>
                @Html.TextBoxFor(x => x.InventoryMagicPotions, new { @maxlength = 3, @class = "inputStat" })
            </td>
        </tr>
    </table>

    @Html.HiddenFor(x => x.Acrobatics)
    @Html.HiddenFor(x => x.Agility)
    @Html.HiddenFor(x => x.Climbing)
    @Html.HiddenFor(x => x.Communication)
    @Html.HiddenFor(x => x.Dodge)
    @Html.HiddenFor(x => x.Intelligence)
    @Html.HiddenFor(x => x.Luck)
    @Html.HiddenFor(x => x.Magic)
    @Html.HiddenFor(x => x.MagicSkillCalm)
    @Html.HiddenFor(x => x.MagicSkillDazzle)
    @Html.HiddenFor(x => x.MagicSkillDetect)
    @Html.HiddenFor(x => x.MagicSkillFetch)
    @Html.HiddenFor(x => x.MagicSkillFlame)
    @Html.HiddenFor(x => x.MagicSkillForceBolt)
    @Html.HiddenFor(x => x.MagicSkillLevitate)
    @Html.HiddenFor(x => x.MagicSkillOpen)
    @Html.HiddenFor(x => x.MagicSkillReversal)
    @Html.HiddenFor(x => x.MagicSkillTrigger)
    @Html.HiddenFor(x => x.MagicSkillZap)
    @Html.HiddenFor(x => x.Parry)
    @Html.HiddenFor(x => x.PickLocks)
    @Html.HiddenFor(x => x.Stealth)
    @Html.HiddenFor(x => x.Strength)
    @Html.HiddenFor(x => x.Throwing)
    @Html.HiddenFor(x => x.Vitality)
    @Html.HiddenFor(x => x.WeaponUse)

    @Html.HiddenFor(x => x.CharacterName)
    @Html.HiddenFor(x => x.QfgClass)
    @Html.HiddenFor(x => x.QfgGame)

    @Html.Hidden("Page", "Inventory")
</form>
